<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <style>
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 0 10px;
  line-height: 1.618;
  max-width: 65rem;
  width:87.5%;
}
nav { width:100%; border-bottom: 1px solid #000; }
nav ul { list-style: none; padding: 0px; margin: 0px; font-weight: bold; text-align: center; }
nav ul li { display: inline-block; text-align: left; }
nav ul li a { display: block; padding: 10px 12px; text-decoration: none; color: #444; }
nav ul li a:hover { background-color: #ccc; }
    </style>
    <title>
      {%- if data.title -%}
        {{data.title}} | Sonologico
      {%- else -%}
      Sonologico
      {%- endif -%}
    </title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Sonologico</a></li>
        <li>|</li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/posts.html">Posts</a></li>
        <li><a href="/projects.html">Projects</a></li>
      </ul>
    </nav>
    <article>
      {{{content}}}
    </article>
  </body>
</html>
