{%- include 'header.html' -%}
{%- autoescape false -%}
{{ content }}
{% endautoescape -%}
{%- if upcoming.events -%}
<h2>Upcoming</h2>
<ul>
  {%- for ev in upcoming.events -%}
  <li>{{ev.date}}: <a href="{{ev.link}}">{{ev.text}}</a>. {{ev.location}}</li>
  {%- endfor -%}
</ul>
{%- endif -%}
{%- if index.post -%}
<h2>Posts</h2>
<ul>
  {%- for p in index.post.all -%}
  <li>{{p.data.date}}: <a href="{{p.link}}">{{p.data.title}}</a></li>
  {%- endfor -%}
</ul>
{%- endif -%}
{%- include 'footer.html' -%}
